* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9e5021f;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
